:root {
    /* --- Couleurs --- */
    --bg-color: linear-gradient(#091C30, #030b13);
    --bg-color-choix-2: #03080D;
    --text-color: #efebe2;
    --text-color-2: #3FA9F5;
    --btn-bg: #6fb5e700;
    --btn-bg-hover: #5db3ef;
    --btn-secondaire-bg: #296c9c00;
    --btn-secondaire-bg-hover: aqua;
    --shadow-color: black;
    --color-titre-partie: aqua;

    /* --- Tailles --- */
    --font-size-title: 40px;
    --font-size-subtitle: 14px;
    --padding-main: 0 300px 0 300px;
    --border-radius: 10px;
    --border-radius-hover: 20px;
    --box-shadow: 0 0 15px var(--shadow-color);
    --box-shadow-hover: 0 0 25px var(--shadow-color);
    --transition: all 0.4s;
}


* {
    font-family: monospace;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ------------- background ------------ */

/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #030b13;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


body {

    /* background:var(--bg-color-choix-2);   */

    min-height: 100vh;

    object-fit: cover;
    animation: moveStars 45s linear infinite;
}

main {
    margin-top: 200px;
    padding: var(--padding-main);
    display: flex;
    flex-direction: row;
    gap: 140px;
}

@keyframes flottaison {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.img img{
    animation: flottaison 3s ease-in-out infinite;
}

h1, main p, .img, h2, .langage, .btn-voir{
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

/* ------------------------------------------------------- contenu ---------------------------------------------------- */

/* ------------------------ img côté gauche ---------------------- */
.img {
    width: 40%;
}

.img img {
    height: 70%;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
}


/* -------------------------- partie de droite ----------------------------- */

h1 {
    text-align: left;
    color: var(--text-color-2);
    margin-bottom: 90px;
    font-size: 44px;
}

.presentation {
    position: relative;
}

.presentation::after {
    content: "";
    position: absolute;
    top: 70px;
    left: 40%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, #091C30, #3FA9F5, #091C30);
}

.presentation p {
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 80px;
}

.presentation h2 {
    color: var(--text-color-2);
    margin-bottom: 30px;
}

.langage {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.langage img {
    width: 30px;
    height: 30px;
}

.btn-voir {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    backdrop-filter: blur(8px);
    padding: 15px;
    border-radius: var(--border-radius);
    transition: transform 0.3s;
    background-color: var(--text-color-2);
    color: var(--text-color);
    border: 0;
    font-size: var(--font-size-subtitle);
    text-decoration: none;
}

.btn-voir:hover {
    transform: translateY(-5px);
    border-radius: var(--border-radius-hover);
    box-shadow: var(--box-shadow-hover);
    transition: var(--transition);
    color: black;
    font-weight: bold;
    border: 0 0 0px;
    background-color: var(--text-color-2);
    color: var(--text-color);
    border: 0;
    font-size: 16px;
}